.about-service {
  padding-top: 42px;
  padding-bottom: 63px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $text-blue;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 10px;

  @media (min-width: $tablet-width) {
    padding-top: 107px;
    padding-bottom: 90px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-image: url("../img/about-tablet-back.png");
    background-position: 41px 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 125px;
    padding-bottom: 164px;
    background-image: url("../img/about-desktop-back.png");
    background-position: 60px 69px;
  }
}

.about-service__title {
  @include h2;
  color: $special-orange;
  padding-left: 23px;
  padding-right: 35px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    margin-bottom: 60px;
  }
}

.about-service__text {
  margin-bottom: 20px;
  padding-left: 23px;
  padding-right: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    width: 300px;
    margin-bottom: 32px;

    &--small {
      @include body-2;
      margin-bottom: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    width: 619px;
    line-height: 34px;
    margin-bottom: 38px;

    &--small {
      line-height: 24px;
      margin-bottom: 86px;
    }
  }
}

.about-service__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;

    &--desktop {
      display: block;
    }
  }
}

.about-service__button {
  display: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: 6px solid transparent;
    border-left: 10px solid $basic-blue-light;
    top: 43%;
    right: 31px;
  }

  @media (min-width: $tablet-width) {
    width: 115px;
    display: block;
    padding: 27px 129px 30px 32px;
    margin-left: 35px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
  }
}
