.about-service {
  background-color: $text-blue;
  background-image: url(../../img/about-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.about-service__title {
  padding-top: 279px;
  margin-bottom: 19px;
}

.about-service__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px;
  padding: 0;

    &--bold {
      font-weight: bold;
      padding-bottom: 82px;
      margin: 0;
    }
}
