.add-plan {
  background: $add-plan-background;
  padding-top: 30px;
  padding-bottom: 154px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}

.add-plan__form-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.add-plan__wrapper {
  display: flex;
  align-items: center;
}

.add-plan__title {
  @include h2;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    @include h2-tablet-36-size;
  }

  @media (min-width: $desktop-width) {
    padding-left: 68px;
  }
}

.add-plan__step-indicator {
  margin-left: 36px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.add-plan__step {
  background-color: $basic-white;
  border-radius: 10px;
  margin-top: 8px;

  &--first {
    margin-top: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 37px;

    &--first {
      margin-top: 59px;
    }

    &--third {
      margin-top: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;

    &--first {
      margin-top: 59px;
    }
  }
}
