.add-plan {
  background: $add-plan-background;
  padding-top: 30px;
  padding-bottom: 43px;
}

.add-plan__title {
  @include h2;
  margin-bottom: 29px;
}

.add-plan__step {
  background-color: $basic-white;
  border-radius: 10px;
  margin-bottom: 10px;
}
