.add-profile {
  position: relative;
  background: $grey-blue;
  padding-top: 52px;
  padding-bottom: 36px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 65px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 102px;
    padding-bottom: 165px;
  }
}

.add-profile__title {
  @include h2;
  color: $special-orange;
  position: relative;
  padding-left: 25px;
  margin-bottom: 52px;
  width: 107px;

  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/rates.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 169px;
  }

  @media (min-width: $tablet-width) {
    width: 482px;
    padding-left: 103px;
    margin-bottom: 92px;

    &::after {
      background-image: none;
      top: 341px;
      left: 543px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 421px;
    margin-bottom: 154px;
  }
}

.add-profile__list {
  padding-left: 24px;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 27px;

    &::before {
      content: "";
      position: absolute;
      width: 198px;
      height: 285px;
      background: #e2e5f2;
      border-radius: 20px;
      right: 0;
      top: -53px;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      background-image: url("../img/rates.svg");
      background-repeat: no-repeat;
      right: -54px;
      top: 204px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 71px;
    margin-bottom: 31px;

    &::before {
      width: 446px;
      height: 300px;
      right: 184px;
      top: -66px;
    }

    &::after {
      width: 198px;
      height: 198px;
      background-size: 198px 198px;
      right: 73px;
      top: -14px;
    }
  }
}

.add-profile__modal {
  color: $light-blue;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    @include body-3;
    display: flex;
    align-items: center;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 71px;
  }
}

.add-profile__modal-icon {
  display: none;
  width: 68px;
  height: 68px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 21px;
  }
}

.add-profile__modal-popup {
  display: block;
  position: absolute;
  top: -11px;
  z-index: 2;
  width: 270px;
  background: $basic-white;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 688px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
    border-radius: 30px;
    left: 362px;
    top: 99px;
  }
}

.add-profile__modal-wrapper {
  padding: 33px 26px 12px 25px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
  }
}

.add-profile__modal-title {
  @include h2;
  color: $special-orange;
  text-align: center;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.add-profile__modal-list {
  color: $special-grey;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    padding-left: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }
}

.add-profile__modal-item {
  position: relative;
  margin-bottom: 22px;

  &:first-child::before {
    content: "";
    position: absolute;
    width: 219px;
    opacity: 0.05;
    border: 1px solid #000000;
    left: 0;
    top: -10px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 219px;
    opacity: 0.05;
    border: 1px solid #000000;
    left: 0;
    bottom: -14px;
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &::after,
    &:first-child::before {
      width: 506px;
    }
  }
}

.add-profile__modal-item:last-child {
  margin-bottom: 34px;
}

.add-profile__modal-tax {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }
}

.add-profile__modal-close {
  color: $basic-blue-light;
  text-transform: uppercase;
  text-align: center;
  background-color: $light-grey;
  padding: 21px 0 18px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    text-transform: none;
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
