.alphabet-search {
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;
}

.alphabet-search__table-cell {
  border: 1px solid $border-grey;
  width: 42px;
  height: 39.78px;
  background-color: $basic-white;

  &--chosen {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &--chosen-grey {
    background: $basic-grey;
    color: $basic-blue-light;
  }
}
