.alphabet-search {
  @include text-1;
  @include medium;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    @include body-3;
    height: 345px;

    &--catalog {
      font-size: 60px;
      line-height: 60px;
      font-weight: bold;
      height: 412px;
      width: 385px;
      color: $text-blue;
    }
  }

  @media (min-width: $desktop-width) {
    border-spacing: 16px 16px;
    height: 438px;

    &--catalog {
      text-align: start;
      width: unset;
    }

    &--collapse-separate {
      border-collapse: separate;
    }
  }
}

.alphabet-search__table-cell {
  border: 1px solid $border-grey;
  width: 42px;
  height: 37px;
  background-color: $basic-white;

  &--catalog {
    width: 41px;
  }

  &--chosen {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &--chosen-grey {
    background: $basic-grey;
    color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    box-sizing: border-box;

    &--catalog {
      border: none;
      background-color: inherit;
    }

    &--chosen-grey {
      background-color: $basic-blue-light;
      color: $basic-white;
    }
  }

  @media (min-width: $desktop-width) {
    width: 59px;
    border-radius: 4px;

    &--catalog {
      vertical-align: top;
      width: 250px;
    }
  }
}

.alphaber-search__letter {
  @media (min-width: $tablet-width) {
    opacity: 0.3;

    &--chosen {
      opacity: 1;
      color: $text-blue;
    }
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.alphabet-search__countries-list {
  display: none;
  text-align: start;
  margin-top: 37px;
  margin-left: -2px;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
