.alphabet-search {
  @include text-1;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;
}

.alphabet-search__table-cell {
  border: 1px solid $border-grey;
  width: 42px;
  height: 39.78px;
  background-color: $basic-white;

  &--chosen {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &--chosen-grey {
    background: $basic-grey;
    color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    &--align-top {
      vertical-align: top;
    }
  }
}

.alphabet-search__countries-list {
  display: none;
  text-align: start;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
