.alphabet-search {
  @include text-1;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    @include body-3;
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    border-spacing: 16px 16px;
    height: 438px;

    &--collapse-separate {
      border-collapse: separate;
    }
  }
}

.alphabet-search__table-cell {
  border: 1px solid $border-grey;
  width: 42px;
  height: 37px;
  background-color: $basic-white;

  &--chosen {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &--chosen-grey {
    background: $basic-grey;
    color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    box-sizing: border-box;

    &--border-none {
      border: none;
      background-color: inherit;
    }

    &--chosen-grey {
      background-color: $basic-blue-light;
      color: $basic-white;
    }
  }

  @media (min-width: $desktop-width) {
    width: 59px;
    border-radius: 4px;

    &--align-top {
      vertical-align: top;
    }
  }
}

.alphabet-search__countries-list {
  display: none;
  text-align: start;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
