.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs__title {
  @include h1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: $special-orange;
    border-radius: 4px;
    width: 100%;
    height: 5px;
    bottom: -15px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    @include h1-2;
    margin-left: 35px;

    &::after {
      bottom: -68px;
      height: 8;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
  }
}

.breadcrumbs__index-link {
  @include bold;
  display: none;
  color: $basic-white;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    padding-right: 94px;

    &::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 16px;
      background-image: url("../img/icon-arrow-breadcrumbs.svg");
      background-repeat: no-repeat;
      top: 5px;
      right: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 123px;
    margin-top: 6px;

    &::after {
      top: 3px;
      right: 63px;
    }
  }
}
