.button {
  @include button;

  &--yellow {
    background-color: $button-yellow;
    border-radius: 10px;
  }

  &--authorization {
    border-radius: 25px;
  }

  &--blue-border {
    border: 3px solid $text-blue;
    border-radius: 10px;
  }

  &--blue {
    background-color: $button-blue;
  }

  &--round {
    border-radius: 20px;
  }

  &--large {
    @include button-2;
  }
}
