.button {
  @include button;

  &--yellow {
    background-color: $button-yellow;
    border-radius: 10px;

    &:hover {
      background-color: #ffbd30;
    }

    &:active {
      color: rgba(22, 28, 53, 0.3);
    }

    @media (min-width: $tablet-width) {
      border-radius: 20px;
    }
  }

  &--authorization {
    border-radius: 25px;
  }

  &--blue-border {
    border: 3px solid $text-blue;
    border-radius: 10px;
  }

  &--blue {
    background-color: $button-blue;
  }

  &--round {
    border-radius: 20px;
  }

  &--large {
    @include button-2;
  }

  &--20-size {
    @include button-3;
  }

  &--dark-blue-text {
    color: $dark-blue;
  }

  &--arrow {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 10px solid #1d2e5b;
    }
  }
}
