.calendar {
  @include text-1;
  color: $basic-blue-light;
  border-collapse: collapse;
}

.calendar__day {
  font-weight: normal;

  &--weekend {
    color: $red;
  }
}

.calendar__day,
.calendar__date {
  width: 32px;
  height: 32px;
}

.calendar__date {
  border: 1px solid $calendar-table-grey;
  text-align: center;
}
