.companion-filter__wrapper {
  background-color: $button-yellow;
  border-radius: 20px;
  padding: 26px 25px 22px 25px;
  margin-bottom: 28px;
}

.companion-filter__title {
  letter-spacing: 0.44px;
  margin-bottom: 23px;
}

.companion-filter__submit-button {
  background: $basic-white;
  border-radius: 25px;
  padding: 14px 73px;
}
