.companions__profile {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.companions__more-button {
  display: block;
  margin-top: 25px;
  margin-left: 93px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon_plus_more.svg");
    left: -33px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-left: 300px;

    &::before {
      width: 26px;
      height: 26px;
      background-size: 26px;
      left: -52px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-left: 396px;
  }
}

.companions__pagination-block {
  margin-top: 24px;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
    margin-bottom: 73px;
  }
}
