.continent-list {
  color: $text-blue;

  @media (min-width: $tablet-width) {
    @include body-3;
    display: flex;

    &--modal {
      display: none;
    }
  }
}

.continent-list__item {
  text-transform: uppercase;
  opacity: 0.3;

  &:not(:first-child) {
    margin-top: 5px;
  }

  @media (min-width: $tablet-width) {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:first-child) {
      margin-left: 33px;
    }
  }
}

.continent-list__item--chosen {
  opacity: 1;
}
