.continent-list {
  color: $blue;
}

.continent-list__item {
  text-transform: uppercase;
  opacity: 0.3;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 21px;
  }
}

.continent-list__item--chosen {
  opacity: 1;
}
