.contacts-list {
  @include list-style;
}

.contacts-list__item {
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  margin-right: 15px;
}

.contacts-list__item:last-child {
  margin-bottom: 41px;
}

.contacts-list__link {
  text-transform: uppercase;
}
