.contacts-list__item {
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  margin-right: 15px;
}

.contacts-list__link {
  color: $blue;
  text-transform: uppercase;

  &--yellow-text {
    color: $button-yellow;
  }
}
