.counter {
  @include medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: $basic-blue-light;
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 538px;
      border: 1px solid $counter-border;
      top: -22px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    justify-content: flex-start;
    align-items: center;

    &::before {
      display: none;
    }
  }
}

.counter__title {
  letter-spacing: 1.44px;

  @media (min-width: $tablet-width) {
    @include body-3;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: normal;
    width: 164px;
  }
}

.counter__dimension {
  text-align: right;
  letter-spacing: 1.12px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    @include body-3;
    letter-spacing: 0.08em;
    margin-right: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 34px;
    order: 1;
    letter-spacing: normal;
  }
}

.counter__shell {
  margin-top: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 58px;
  }
}

.counter__button {
  position: absolute;
  width: 14px;
  height: 14px;

  &--amount-reduce {
    border-bottom: 2px solid $light-silver;
    left: 15px;
    bottom: 20px;
  }

  &--amount-increase {
    border-bottom: 2px solid $light-silver;
    bottom: 20px;
    right: 13px;

    &::before {
      content: "";
      width: 14px;
      position: absolute;
      right: 0;
      top: 12px;
      border-bottom: 2px solid $light-silver;
      transform: rotate(90deg);
    }
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;

    &--amount-reduce {
      left: 23px;
      bottom: 34px;
    }

    &--amount-increase {
      bottom: 34px;
      right: 23px;

      &::before {
        width: 20px;
        top: 18px;
      }
    }
  }
}

.counter__input {
  @include text-1;
  @include medium;
  box-sizing: border-box;
  width: 220px;
  height: 43px;
  text-align: center;
  padding: 5px 20px;
  border: 1px solid $border-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    @include body-3;
    width: 538px;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}
