.country-enviroment__head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    width: 11px;
    height: 2px;
    background-color: $basic-blue-light;
    position: absolute;
    top: 12px;
    left: -13px;
  }

  &--first::after {
    content: "";
    width: 2px;
    height: 283px;
    background-color: $basic-blue-light;
    position: absolute;
    top: 12px;
    left: -13px;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;

    &::before {
      display: none;
    }

    &--first::after {
      left: 528px;
      height: 271px;
    }
  }

  @media (min-width: $desktop-width) {
    &--first::after {
      left: 774px;
    }
  }
}

.country-enviroment__title {
  @include subtitle;
  color: $basic-blue-light;
  padding-left: 12px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: $basic-blue-light;
    border-radius: 50%;
    top: 7px;
    left: -2px;
  }

  &--overflow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, transparent 60%, $basic-white 100%);
  }

  @media (min-width: $tablet-width) {
    @include subtitle-3;
    font-weight: bold;
    padding-left: 0;

    &::before {
      width: 14px;
      height: 14px;
      top: 10px;
      left: 522px;
    }

    &--overflow::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 768px;
    }
  }
}

.country-enviroment__image {
  width: 35px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    margin-right: 48px;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 123px;
  }
}

.country-enviroment__textarea {
  color: $special-grey;
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  padding: 9px 16px 11px 14px;
  border: 1px solid $border-grey;
  border-radius: 4px;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    @include body-3;
    width: 500px;
    height: 142px;
    padding: 17px 46px 12px 17px;
    margin-top: 28px;
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 142px;
    padding: 21px 46px 12px 22px;
  }
}
