.country-filter {
  background-color: $filter-blue;
  padding-top: 20px;
  padding-bottom: 28px;
}

.country-filter__title {
  @include text-bold;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-blue;
  margin: 0;
}

.country-filter__continent-list {
  margin: 0;
  padding: 0;
}

.country-filter__table {
  margin-bottom: 14px;
}

.country-filter__countries-list {
  padding: 0;
  margin: 0 0 28px 0;
}

.country-filter__bottom-close-button {
  @include text-bold;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-blue;
  background: $filter-button-blue;
  border-radius: 20px;
  padding: 12px 83px 10px 84px;
}
