.country-selector {
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $basic-blue-light;
    border-radius: 50%;
    right: 50px;
    z-index: 3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow-long.svg");
    bottom: -16px;
    left: 164px;
  }

  &--choosing::before {
    background-color: $basic-grey;
    border: 1px solid $border-grey;
    box-sizing: border-box;
  }

  &-adding::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 14px;
      height: 14px;
      right: 148px;
      top: 26px;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: 227px;
    }
  }
}

.country-selector__button {
  @include text-1;
  @include medium;
  width: 168px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid $border-grey;
  border-radius: 4px;
  padding: 13px 10px;
  overflow: hidden;
  white-space: nowrap;
  color: $basic-blue-light;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: start;
  position: relative;

  &--chosen::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 16px 12px;
    z-index: 4;
    transform: rotate(-90deg);
    right: 11px;
    top: 15px;
  }

  &--overflow::before {
    content: "";
    position: absolute;
    right: 0;
    z-index: 2;
    width: 52px;
    height: 36px;
    background: linear-gradient(to left, $basic-white 60%, transparent);
  }

  &--choosing {
    width: 222px;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 12px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: 16px 12px;
      z-index: 4;
      transform: rotate(-90deg);
      right: 11px;
      top: 15px;
    }
  }

  &--adding {
    width: 222px;
    background: $basic-grey;

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url("../img/icon-plus.svg");
      background-size: 14px;
      right: 14px;
    }
  }

  @media (min-width: $tablet-width) {
    @include body-3;
    width: 369px;
    height: 70px;
    padding: 14px 25px;

    &--chosen::after {
      width: 20px;
      height: 17px;
      background-size: 20px 17px;
      right: 23px;
      top: 28px;
    }

    &--choosing::after {
      width: 20px;
      height: 17px;
      background-size: 20px 17px;
      right: 23px;
      top: 28px;
    }

    &--adding::after {
      width: 20px;
      height: 20px;
      background-size: 20px;
      right: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 70px;

    &--chosen::after {
      width: 20px;
      height: 24px;
      background-size: 20px 24px;
      top: 21px;
    }

    &--choosing::after {
      width: 20px;
      height: 24px;
      background-size: 20px 24px;
      top: 21px;
    }

    &--adding::after {
      top: 25px;
    }
  }
}

.country-selector__image {
  width: 35px;
  height: 24px;
  padding: 8px;
  border: 1px solid $border-grey;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    border: none;
    margin-left: 46px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
    margin-top: 0;
  }
}

.country-selector__delete-button {
  position: absolute;
  right: -9px;
  top: -10px;

  @media (min-width: $tablet-width) {
    right: 14px;
    top: 21px;
  }
}

.country-selector__button-logo {
  width: 21px;
  height: 21px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 24px;
  }
}

.country-selector__modal {
  position: absolute;
  z-index: 5;
  top: -2px;
  right: 0;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 1px;
  }
}
