.countries-dropdown {
  display: none;
  max-width: 730px;
}

.countries-dropdown__title-wrapper {
  background-color: $basic-blue-light;
  padding: 9px 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 18px 26px 15px 26px;
    width: 318px;
  }

  @media (min-width: $desktop-width) {
    width: 680px;
    padding-top: 16px;
    padding-bottom: 18px;
  }
}

.countries-dropdown__title {
  @include text-1;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include body-3;
    letter-spacing: 0.1em;
    width: 335px;
  }
}

.countries-dropdown__close-button {
  margin-top: 4px;
}

.countries-dropdown__close-button-icon {
  width: 9px;
  height: 9px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 21px;
  }
}

.countries-dropdown__alphabet-search-wrapper {
  background: $basic-white;
  border: 1px solid $border-grey;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 35px 4px 33px 28px;
    width: 542px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 40px 30px 11px;
    width: 680px;
  }
}

.countries-dropdown__list {
  position: relative;


  @media (min-width: $tablet-width) {
    margin-top: -9px;

    &::before {
      content: "";
      position: absolute;
      height: 414px;
      border: 1px solid #d6d9e6;
      opacity: 0.5;
      left: -8px;
      top: -28px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 477px;
      top: -9px;
    }
  }
}
