.country-list {
  display: flex;
  justify-content: center;
}

.country-list__item {
  margin-right: 20px;
  position: relative;

  &:hover::before {
    @include body-3;
    position: absolute;
    z-index: 2;
    right: 50%;
    bottom: -68px;
    content: "";
    padding: 18px 25px;
    transform: translate(50%);
    line-height: 1.38;
    white-space: nowrap;
    color: #ffffff;
    border-radius: 4px;
    background-color: #101d41;
  }

  &--sri-lanka:hover::before {
    content: "Шри-Ланка";
  }

  &--thailand:hover::before {
    content: "Таиланд";
  }

  &--seychelles:hover::before {
    content: "Сейшельские Острова";
  }

  &--belgium:hover::before {
    content: "Бельгия";
  }

  &--czech:hover::before {
    content: "Чехия";
  }

  &:hover::after {
    position: absolute;
    bottom: -9px;
    right: 50%;
    z-index: 2;
    content: "";
    transform: translate(50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #101d41 transparent;
  }
}
