.countries-list {
  color: $special-grey;
  padding: 16px 20px 17px 19px;

  &--catalog {
    padding-left: 0;
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    @include body-3;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;

    &--catalog {
      padding: 0 0 0 6px;
      text-transform: none;
      font-weight: normal;
    }

    &--first-row {
      padding-bottom: 50px;
    }

    &--second-row {
      padding-bottom: 45px;
    }

    &--third-row {
      padding-bottom: 89px;
    }

    &--fourth-row {
      padding-bottom: 44px;
    }
  }
}

.countries-list__item {
  margin-top: 4px;

  &--catalog {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}

.countries-list__link {
  color: $special-grey;
}
