.counter {
  @include text-medium;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-blue-light;
}

.counter__title {
  letter-spacing: 0.09em;
}

.counter__dimension {
  text-align: right;
  letter-spacing: 0.07em;
  opacity: 0.3;
}
