.country-filter {
  background-color: $filter-blue;
  padding-top: 20px;
  padding-bottom: 28px;
}

.country-filter__title {
  text-transform: uppercase;
}

.country-filter__table {
  margin-bottom: 14px;
}

.country-filter__countries-list {
  margin-bottom: 28px;
}

.country-filter__bottom-close-button {
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: $filter-button-blue;
  border-radius: 20px;
  padding: 12px 83px 10px 84px;
}
