.countries-dropdown__wrapper {
  background: $basic-white;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border: 1px solid $border-grey;
  border-radius: 4px;
}

.countries-dropdown__title {
  @include text-1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background-color: $basic-blue-light;
  padding: 14px 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.countrise-dropdown__list {
  padding: 20px;
}
