.description {
  background-color: $dark-blue;
  background-image:
    url(../../img/traveller-illustration1.png),
    url(../../img/globe-back-1.png);
  background-repeat: no-repeat;
  background-position:
    50% 40%,
    center 0;
}

.description__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 245px;
}
