.description {
  background-color: $dark-blue;
  background-image:
    url("../img/traveller-illustration1.png"),
    url("../img/globe-back-1.png");
  background-repeat: no-repeat;
  background-position:
    50% 40%,
    center 0;
  padding-top: 90px;
}

.description__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.description__title {
  @include h1;
  text-align: center;
  margin-bottom: 245px;
}

.description__interaction-buttons {
  display: flex;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.description__quoute {
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    justify-self: end;
  }
}

.description__conatacts {
  display: flex;
}

.description__button-authorization {
  padding: 12px 40px 8px 40px;
}

.descroption__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
