.description {
  position: relative;
  z-index: 1;
  background-color: $dark-blue;
  background-image:
    url("../img/index/traveller-illustration-mobile.png"),
    url("../img/index/description-back-mobile.png");
  background-repeat: no-repeat;
  background-position:
    63% 24.5%,
    50% -10%;
  padding-top: 49px;
  padding-bottom: 27px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    top: 435px;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #161c35 285px, #192144 80px);
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/index/traveller-illustration-mobile@2x.png"),
      url("../img/index/description-back-mobile@2x.png");
    background-size:
      192px 255px,
      320px auto;
  }

  @media (min-width: $tablet-width) {
    background-color: $header-blue;
  }

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    background-image:
      url("../img/index/traveller-illustration-tablet.png"),
      url("../img/index/description-back-tablet.png");
    background-position:
      72% 50.5%,
      50% 64%;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/index/traveller-illustration-tablet@2x.png"),
        url("../img/index/description-back-tablet@2x.png");
      background-size:
        372px 451px,
        768px auto;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-bottom: 125px;
    background-image:
      url("../img/index/traveller-illustration-desktop.png"),
      url("../img/index/description-back-desktop.png");
    background-position:
      60% 73%,
      50% 102%;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/index/traveller-illustration-desktop@2x.png"),
        url("../img/index/description-back-desktop@2x.png");
      background-size:
        431px 640px,
        1440px auto;
    }
  }
}

.description__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.description__title {
  @include h1;
  text-align: center;
  margin-bottom: 245px;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $tablet-width) {
    @include h1-2;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-left: 67px;
  }
}

.description__interaction-buttons {
  display: flex;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.description__quoute {
  margin-bottom: 29px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    margin-bottom: 213px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    padding-left: 0;
    padding-right: 27px;
    padding-top: 13px;
    margin-bottom: 117px;
  }
}

.description__conatacts {
  display: flex;
}

.description__button-authorization {
  padding: 12px 40px 8px 40px;
}

.description__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
