.direction-card__wrapper {
  background: $basic-white;
  border-radius: 10px;
  padding: 26px 24px 24px 25px;
}

.direction-card__title {
  margin: 0;
}

.direction-card__text {
  opacity: 0.3;
  margin: 0;
}

.direction-card__people-number {
  opacity: 0.3;
  margin: 0;
}
