.ditections {
  background-color: $basic-grey;
  padding-top: 71px;
  padding-bottom: 34px;
}

.directions__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  margin-bottom: 60px;
}

.directions__cards-list {
  @media (min-width: $desktop-width) {
    grid-row: -1/3;
  }
}
