.direction-card {
  @include medium;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.directions-card__picture-wrapper {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.direction-card__pic {
  width: 270px;
  height: 110px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 140px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 15px;
    margin-top: -16px;
  }
}

.direction-card__info {
  position: relative;
}

.direction-card__country-flag {
  position: absolute;
  width: 35px;
  height: 24px;
  top: -14px;
  z-index: 3;
  left: 25px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    top: 1px;
    left: 399px;
  }

  @media (min-width: $desktop-width) {
    top: 5px;
    left: 338px;
  }
}

.direction-card__wrapper {
  background: $basic-white;
  border-radius: 10px;
  padding: 24px 24px 22px 25px;
  margin-top: -16px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 375px;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 28px 28px 22px 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 25px 22px 29px;
    width: 319px;
  }
}

.direction-card__title {
  @include h3;
  color: $black;

  @media (min-width: $tablet-width) {
    @include h2;
    margin-bottom: 4px;
  }
}

.direction-card__text {
  color: $special-grey;
  opacity: 0.3;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    @include body-3;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.direction-card__people-number {
  color: $dark-blue;
  opacity: 0.3;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    @include body-3;
    margin-left: 0;
  }
}

.direction-card__people-icon {
  width: 14px;
  height: 14px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}
