.ditections {
  background-color: $basic-grey;
  padding-top: 71px;
  padding-bottom: 34px;
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  margin-bottom: 60px;
}

.directions__cards-list {
  @include list-style;
}
