.ditections {
  background-color: $basic-grey;
}

.direction__title {
  padding-top: 71px;
  margin-bottom: 19px;
}

.direction__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  margin-bottom: 60px;
}

.directions__cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
