.direction-card {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.direction-card__pic {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.direction-card__wrapper {
  background: $basic-white;
  border-radius: 10px;
  padding: 26px 24px 24px 25px;
}

.direction-card__title {
  @include h3;
  color: $black;
}

.direction-card__text {
  color: $special-grey;
  opacity: 0.3;
}

.direction-card__people-number {
  color: $dark-blue;
  opacity: 0.3;
}
