.directions {
  position: relative;
  z-index: 2;
  background-color: $basic-grey;
  padding-top: 68px;
  padding-bottom: 35px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    background-image: url("../img/flags-back-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 177px;
    padding-bottom: 102px;
    background-image: url("../img/flags-back-desktop.png");
    background-position: 50% 50%;
  }
}

.directions__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 71px;
    padding-right: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.directions__text-wrapper {
  padding-left: 24px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 122px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 87px;
    margin-top: -14px;
    margin-bottom: 58px;
  }
}

.directions__title {
  @include h2;
  color: $special-orange;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }
}

.directions__text {
  color: $special-grey;
}

.directions__cards-list {
  @media (min-width: $desktop-width) {
    grid-row: -1/3;
  }
}

.directions__cards-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 47px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.directions__button {
  display: block;
  text-transform: none;
  padding: 21px 141px 21px 23px;

  &::after {
    top: 43%;
    right: 17px;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 140px 29px 33px;

    &::after {
      right: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    max-height: 32px;
    margin-right: 75px;
    margin-left: 89px;
    padding: 26px 84px 20px 33px;

    &::after {
      right: 32px;
    }
  }
}
