.filter-form {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-left: 5px solid $basic-blue-light;
    transform: rotate(-90deg);
    right: 0;
    top: 7px;
  }

  &--collapsed .filter-form__wrapper {
    display: none;
  }

  &--collapsed::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    &::after {
      display: none;
    }

    &--collapsed .filter-form__wrapper {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    flex-direction: column;

    &::after {
      display: block;
    }
  }
}

.filter-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  &--transport {
    flex-direction: row;
    margin-top: 17px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 0;
    margin-left: 17px;
    width: 100%;
    justify-content: space-between;

    &--transport {
      justify-content: flex-start;
      margin-left: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-left: 3px;
    margin-top: 6px;

    &--transport {
      margin-top: 16px;
      flex-direction: row;
    }
  }
}

.filter-form__title {
  @include companion-form-title;
  width: 100%;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid #f3c72b;
    width: 100%;
    top: -14px;
  }

  @media (min-width: $tablet-width) {
    @include body-3;
    @include medium;
    max-width: 112px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.filter-form__title-double-dots {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: -6px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filter-form__checkbox + .filter-form__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: $basic-white;
    margin-right: 10px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.filter-form__checkbox:checked + .filter-form__label {
  &::before {
    background-image: url("../img/icon-check-mark.svg");
    background-repeat: no-repeat;
    background-position: 2px;
  }
}

.filter-form--label {
  @include text-2;
  color: $black;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    @include body-3;
    margin-top: 0;
    min-width: 149px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}

.filter-form--music {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.filter-form--food {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
  }
}

.filter-form--transport {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }
}

.filter-form--level {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
  }
}

.filter-form__inputs {
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin-top: 11px;
  }
}

.filter-form__bar {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    margin-top: 36px;
  }
}
