.food-form {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    display: flex;
  }
}

.food-form__title {
  @include companion-form-title;
  margin-bottom: 12px;
}

.food-form__label {
  @include text-2;
  color: $black;
}
