.login-link {
  color: $button-yellow;
  border-bottom: 1px solid $button-yellow;

  &:hover,
  &:focus {
    color: #ff8d30;
    border-bottom: 1px solid #ff8d30;
  }

  &:active {
    color: rgba(255, 141, 48, 0.3);
    border-bottom: 1px solid rgba(255, 141, 48, 0.3);
  }
}
