.marker-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.marker-list__item {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: $basic-blue-light;
    opacity: 0.3;
    border-radius: 50%;
    margin-right: 36px;
  }

  &--active::before {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.marker-list__link {
  @include body-3;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: $black;
  opacity: 0.6;
  display: none;

  &--active {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
