.month-slider {
  @include h3-size-s;
  color: $basic-blue-light;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include h3-size-36;
    padding-left: 12px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.month-slider__button {
  width: 15px;
  height: 21px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;

  &--rotate {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 36px;
    background-size: 30px 40px;
  }
}
