.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.nav-list__item:last-child {
  margin-bottom: 51px;
}

.nav-list__link {
  text-decoration: none;
  color: $text-blue;
}
