.nav {
  width: 100%;
  min-height: 24px;
  padding-top: 18px;
  background-color: $dark-blue;
  z-index: 1;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    background-color: $header-blue;
  }

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  &--page-inner {
    background-color: $header-blue;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
  }

  &--no-js {
    position: relative;
  }

  &--no-js .modal-menu__toggle {
    display: none;
  }

  &--no-js .nav__menu-wrapper {
    position: relative;
    top: -94px;
  }

  &--menu-opened .nav__menu-wrapper {
    display: block;
  }

  &--menu-closed .nav__menu-wrapper {
    display: none;
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.nav__logo-link {
  @media (min-width: $tablet-width) {
    margin-right: 166px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 145px;
    position: relative;

    &::after {
      content: "";
      width: 60px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 31px;
      right: -100px;
    }
  }
}

.nav__toggle {
  align-self: center;
  display: block;
  border-radius: 1.5px;
  background-color: $basic-white;
  width: 25px;
  height: 3px;
  box-shadow: 0 -7px 0 0 #ffffff;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 143px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__site-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
  }
}

.nav__conatacts {
  display: none;

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-top: 4px;
    display: flex;
  }
}

.nav__button-authorization {
  display: none;
  padding: 16px 28px 14px 29px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
  }
}

.nav__menu-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
