.page-footer {
  background-color: $basic-white;
  padding-top: 37px;
  padding-bottom: 18px;
}

.page-footer__link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;
}
