.page-body {
  @include body-1;
  background-color: $basic-grey;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
}

.page-body__header {
  position: sticky;
  z-index: 4;
}

.page-body__footer {
  margin-top: -110px;

  &--form {
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    margin-top: -70px;

    &--form {
      margin-top: -94px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -70px;

    &--form {
      margin-top: -83px;
    }
  }
}
