.page-main__breadcrumbs-wrapper {
  background-color: $header-blue;
  padding-top: 48px;
  padding-bottom: 13px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
  position: relative;

  &--yellow-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 105px;
    background-color: $button-yellow;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 123px;
    padding-bottom: 65px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &--yellow-bottom::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
  }
}

.page-main__users {
  position: relative;
  z-index: 1;
  margin-top: -25px;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
  }
}

.page-main__registration {
  position: relative;
  z-index: 2;
  margin-top: -30px;

  @media (min-width: $tablet-width) {
    margin-top: -55px;
  }
}

.page-main__add-plan {
  margin-top: -25px;
}

.page-main__country-filter {
  margin-top: -20px;
}
