.page-footer {
  background-color: $basic-white;
  padding-top: 37px;
  padding-bottom: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 25px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 35px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__logo {
  margin-left: 87px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 367px;
  }
}

.page-footer__socials {
  display: flex;
  margin-left: 67px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 98px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 412px;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.page-footer__link-text {
  color: $special-grey;

  @media (min-width: $tablet-width) {
    @include body-3;
    margin-right: 23px;
  }
}

.page-footer__academy-logo {
  margin-top: -4px;
  width: 27px;
  height: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
  }
}
