.page-footer {
  background-color: $basic-white;
  padding-top: 37px;
  padding-bottom: 18px;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__socials {
  display: flex;
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
}

.page-footer__link-text {
  color: $special-grey;
}
