.pagination-items {
  display: none;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    @include body-3;
    @include bold;
    display: flex;
  }
}

.pagination-items__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  &--current {
    background-color: $button-yellow;
  }
}

.pagination-items__pages-link {
  color: $basic-blue-light;
}
