.pagination {
  background-color: $basic-white;
  display: flex;
  border-radius: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 51px;
    border: 1px solid $basic-grey;
    left: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 688px;
    height: 100px;
    align-items: center;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 949px;
  }
}

.pagination__previous-page {
  position: relative;
  width: 135px;
  height: 50px;

  &::after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-left: 10px solid #1d2e5b;
    transform: rotate(-180deg);
    top: 21px;
    left: 56px;
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
    width: 63px;
    height: 100px;

    &::after {
      top: 42px;
      left: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 22px;
    }
  }
}

.pagination__next-page {
  position: relative;
  width: 135px;
  height: 50px;

  &::after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-left: 10px solid #1d2e5b;
    top: 21px;
    left: 62px;
  }

  @media (min-width: $tablet-width) {
    width: 63px;
    height: 100px;

    &::after {
      top: 42px;
      left: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 12px;
    }
  }
}
