.plans {
  color: $basic-blue-light;
  background: $plans-background;
  padding-top: 27px;
  padding-bottom: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 50px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.plans__title {
  @include h2;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    margin-bottom: 52px;
  }
}

.plans__list {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
    padding-right: 0;
  }
}

.plans__list-item {
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}
