.plans {
  color: $basic-blue-light;
  background: $plans-background;
  padding-top: 27px;
  padding-bottom: 54px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 92px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.plans__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 66px;
    padding-right: 0;
  }
}

.plans__title {
  @include h2;

  @media (min-width: $tablet-width) {
    @include h2-tablet-36-size;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4px;
  }
}

.plans__list {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.plans__list-item {
  margin-top: 10px;

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}
