.plans-cards {
  @include list-style;
}

.plans-cards__item {
  background-color: $basic-white;
  padding: 24px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.plans-cards__countries {
  margin-bottom: 20px;
}

.plans-cards__text {
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin: 0;
}

.plans-cards__change-link {
  letter-spacing: 0.42px;
  text-transform: uppercase;
  opacity: 0.3;
  margin-top: 24px;
}
