.profile-settings {
  padding-top: 23px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 61px;
  }
}

.profile-settings__form {
  position: relative;
}

.profile-settings__tags-fieldset {
  margin-bottom: 18px;
}
