.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
    grid-template-columns: min-content 1fr min-content;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 63px;
    display: flex;
    justify-content: space-between;
  }
}

.profile-form__level-pie {
  position: relative;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -219px;
    right: 330px;
    margin: 0;
  }
}

.profile-form__user-image-wrapper {
  margin-left: 18px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -263px;
    right: 95px;
    margin: 0;
  }
}

.profile-form__user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    border-radius: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
}

.profile-form__upload-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $plans-background;
    padding: 12px 70px 14px 71px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -5px;
  }
}

.profile-form__photo-button {
  grid-column: 1/-1;
  margin-top: 13px;
  display: block;
  padding: 9px 55px 13px 67px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding: 21px 66px 21px 231px;
    letter-spacing: 0.09em;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.profile-form__tags-fieldset {
  grid-column: 1/-1;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.profile-form__transport-checkbox {
  margin-top: 14px;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: -2px;
    margin-left: 58px;
  }
}
