.quoute {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 29px;
  padding: 0;
}

.quoute__paragraph {
  font-weight: 300;
  margin: 0 0 18px;
  padding: 0;
}

.quoute__author {
  font-weight: bold;
  font-style: normal;
}
