.registration {
  background-color: $text-blue;
  padding-top: 72px;
  padding-bottom: 29px;
}

.registration__title {
  @include h2;
  color: $special-orange;
  text-align: center;
  margin-bottom: 19px;
}

.registration__text {
  text-align: center;
}

.registration__conatacts-list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
