.step {
  padding: 21px 24px 22px 24px;

  @media (min-width: $tablet-width) {
    border-radius: 30px;
    padding-top: 46px;
    padding-left: 40px;
    padding-bottom: 56px;

    &--second {
      padding-left: 42px;
    }

    &--third {
      padding-top: 45px;
      padding-left: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    border-radius: 60px;
    padding-top: 96px;
    padding-left: 159px;
    padding-right: 152px;
    padding-bottom: 106px;
  }
}

.step__head-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.step__title {
  @include h3;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    @include h2-3;
  }
}

.step__title-br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.step__marks {
  margin-top: -10px;
  margin-right: 53px;
}

.step__description {
  color: $special-grey;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 505px;
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 581px;
    margin-top: 36px;

    &--three {
      width: 524px;
    }
  }
}

.step__description-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.step__counters-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1000px;
      border: 1px solid $counter-border;
      top: 54px;
    }
  }
}

.step__companion-counter {
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 86px;
  }
}

.step__duration-counter {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}

.step__children-checkbox + .step__checkbox-label {
  display: flex;
  align-items: center;
  gap: 14px;

  &::before {
    content: "";
    width: 26px;
    height: 26px;
    border: 1px solid $border-grey;
    box-sizing: border-box;
    border-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    gap: 22px;

    &::before {
      width: 36px;
      height: 36px;
    }
  }
}

.step__children-checkbox:checked + .step__checkbox-label::before {
  background-image: url("../img/icon-check-mark.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 6px;

  @media (min-width: $tablet-width) {
    background-size: 20px;
    background-position: 7px;
  }
}

.step__checkbox-label {
  @include text-2;
  color: $basic-blue-light;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    @include body-3;
    @include medium;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 6px 17px auto;
    align-self: flex-end;
  }
}

.step__slider {
  position: relative;
  margin-top: 34px;

  &::before,
  &::after {
    content: "";
    width: 221px;
    position: absolute;
    border: 1px solid $calendar-table-grey;
  }

  &::before {
    top: -12px;
  }

  &::after {
    bottom: -13px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 84px;

    &::before,
    &::after {
      width: 538px;
      left: 0;
    }

    &::before {
      top: -26px;
    }

    &::after {
      bottom: -26px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;

    &::before,
    &::after {
      width: 1000px;
    }
  }
}

.step__calendar {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
  }
}

.step__button-next {
  display: block;
  padding: 11px 11px 11px 43px;
  margin-top: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    width: 239px;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;
    padding: 28px 11px 28px 34px;

    &::after {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 10px solid #1d2e5b;
      top: 44%;
      right: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}

.step__selector-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 77px;

    &::before {
      content: "";
      position: absolute;
      width: 532px;
      border: 1px solid $counter-border;
      top: -43px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 407px;
      background-color: $calendar-table-grey;
      background-repeat: no-repeat;
      background-position: right 0 bottom 0;
      background-size: 100% 50px;
      background-image: linear-gradient(to top, $basic-white 40%, transparent);
      top: -42px;
      right: 154px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 119px;

    &::before {
      width: 988px;
      top: -64px;
      left: 8px;
    }

    &::after {
      top: -64px;
      right: 233px;
      height: 540px;
    }
  }
}

.step__country-add {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
  }
}

.step__buttons-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
  }
}

.step__button-previous {
  display: block;
  margin-top: 16px;
  padding-left: 53px;
  margin-bottom: -6px;
  letter-spacing: 0.17px;

  @media (min-width: $tablet-width) {
    text-transform: none;
    font-size: 24px;
    margin-top: 41px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 10px solid #1d2e5b;
      top: 3px;
      left: 14px;
      transform: rotate(180deg);
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.step__button-submit {
  margin-top: 16px;
  padding: 9px 71px 9px 67px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include bold;
    margin-top: 41px;
    padding: 27px 140px 28px 35px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &::before {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 10px solid #1d2e5b;
      top: 33px;
      right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
  }
}

.step__country-textaera {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;

    &--top {
      margin-top: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    &--top {
      margin-top: 137px;
    }
  }
}
