.step-indicator {
  display: flex;
  justify-content: space-between;
  width: 47px;
  height: 5px;

  @media (min-width: $tablet-width) {
    width: 73px;
  }
}

.step-indicator__item {
  width: 5px;
  height: 5px;
  background: $basic-blue-light;
  opacity: 0.3;
  border-radius: 50%;

  &--active {
    opacity: 1;
  }
}
