.step {
  padding: 24px 24px 23px 24px;
}

.step__title {
  @include h3;
}

.step__description {
  margin-bottom: 20px;
}

.step__calendar {
  margin-bottom: 22px;
}

.step__button-previous {
  letter-spacing: 0.17px;
}

.step__button-submit {
  padding: 8px 70px;
  border-radius: 20px;
}
