.tags-form {
  border: 1px solid $border-grey;
  border-radius: 10px;
}

.tags-form__legend {
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
}

.tags-form__textarea {
  color: $special-grey;
  opacity: 0.6;
  width: 268px;
  height: 89px;
  border: none;
  background-color: inherit;
  padding: 17px 28px 26px 25px;
  box-sizing: border-box;
}
