.tags-form {
  border: 1px solid $border-grey;
  border-radius: 10px;
}

.tags-form__legend {
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background-color: $basic-grey;
    position: absolute;
    bottom: -9px;
    left: 43%;
    padding: 0 18px;
  }

  @media (min-width: $desktop-width) {
    left: 3%;
  }
}

.tags-form__textarea {
  color: $special-grey;
  opacity: 0.6;
  line-height: 18px;
  width: 268px;
  height: 71px;
  border: none;
  background-color: inherit;
  padding: 14px 28px 26px 25px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 616px;
    height: 86px;
    padding: 32px 28px 26px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 732px;
  }
}
