.transport-form {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    display: flex;
  }
}

.transport-form__fieldset {
  border: 1px solid $border-grey;
  border-radius: 10px;
  width: 268px;
  height: 71px;

  @media (min-width: $tablet-width) {
    width: 307px;
    height: 93px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 381px;
  }
}

.transport-from__legend {
  @include bold;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include medium;
    @include body-3;
    position: absolute;
    bottom: -9px;
    left: 25%;
    letter-spacing: 0.08em;
    padding: 0 20px;
    background-color: #edeff6;
  }

  @media (min-width: $desktop-width) {
    left: 30%;
  }
}

.transport-form__inputs-wrapper {
  display: flex;
  padding-left: 71px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 67px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 105px;
    padding-top: 25px;
  }
}

.transport-form__checkbox {
  & + .transport-form__label .transport-form__label-icon {
    opacity: 0.15;
  }

  &:checked + .transport-form__label .transport-form__label-icon {
    opacity: 1;
  }
}

.transport-form__label {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: $basic-white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

// .transport-form__checkbox-icon {
//   width: 32px;
//   height: 32px;

//   @media (min-width: $tablet-width) {
//     width: 44px;
//     height: 44px;
//   }
// }
