.transport-form__title {
  @include companion-form-title;
  margin-bottom: 19px;
}

.transport-from__legend {
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
}

.transport-form__fieldset {
  border: 1px solid $border-grey;
  border-radius: 10px;
  width: 268px;
  height: 63px;
}
