.transport-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    &--catalog {
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      flex-direction: row;
    }
  }
}

.transport-list__item {
  margin-right: 15px;
  position: relative;

  &--catalog {
    margin-right: 0;

    &:not(:first-child) {
      margin-left: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover::before {
      position: absolute;
      z-index: 2;
      right: 50%;
      bottom: -68px;
      content: "";
      padding: 18px 25px;
      transform: translate(50%);
      line-height: 1.38;
      font-size: 20px;
      color: #ffffff;
      border-radius: 4px;
      background-color: #101d41;
    }

    &:nth-child(1):hover::before {
      content: "Авиаперелет";
    }

    &:nth-child(2):hover::before {
      content: "Автотранспорт";
    }

    &:nth-child(3):hover::before {
      content: "Велосипед";
    }

    &:nth-child(4):hover::before {
      content: "Пешком";
    }

    &:hover::after {
      position: absolute;
      bottom: -9px;
      right: 50%;
      z-index: 2;
      content: "";
      transform: translate(50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #101d41 transparent;
    }
  }
}
