.usage-steps {
  @include subtitle;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    @include subtitle-tablet-24-size;
  }
}

.usage-steps__item {
  display: flex;
  justify-content: space-between;
  padding: 22px 21px 24px 24px;
  border-radius: 10px;

  &:not(:first-child) {
    margin-top: -20px;
  }

  &:not(:last-child) {
    height: 54px;
  }

  $colors-list: $special-orange $usage-steps-orange $usage-steps-yellow-dark $button-yellow;

  @each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    &:nth-child(#{$i}) {
      background-color: $current-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 22px;
    flex-direction: column;
    border-radius: 0;

    &:nth-child(1) {
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      border-bottom-left-radius: 20px;
    }

    &:nth-child(4) {
      height: 87px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(1n) {
      width: 303px;
    }

    &:nth-child(2n) {
      width: 278px;
      margin-left: -25px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-child) {
      height: 87px;
    } // если есть варинты облегчить всю эту простыню когда, готов выслушать, потому что пока мне не очень нравится это решение
  }

  @media (min-width: $desktop-width) {
    padding: 28px 33px 30px 34px;
    flex-direction: row;

    &:nth-child(1) {
      width: 247px;
    }

    &:nth-child(2) {
      width: 280px;
    }

    &:nth-child(3) {
      width: 280px;
    }

    &:nth-child(4) {
      width: 251px;
      padding-left: 31px;
    }

    &:not(:first-child) {
      margin-left: -30px;
      border-radius: 20px;
      height: 49px;
    }

    &:not(:last-child) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-right: 62px;
      height: 49px;
    }

    &:last-child {
      border-radius: 20px;
      height: 49px;
    }
  }
}

.usage-steps__number {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
