.user-profile {
  @include text-2;
  color: $special-grey;
  background-color: $basic-white;
  border-radius: 20px;
  padding: 15px 20px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 25px 21px 35px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    min-height: 285px;
  }
}

.user-profile__head-wrapper {
  display: flex;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.user-profile__photo-link {
  max-height: 285px;
}

.user-profile__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.user-profile__main-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    margin-left: 32px;
    margin-top: 0;
    width: 270px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
    margin-top: 44px;
  }
}

.user-profile__user-name {
  @include h3;
  color: $basic-blue-light;
  position: relative;
  width: 80px;

  @media (min-width: $tablet-width) {
    @include h2-5;
    width: 100%;
  }
}

.user-profile__user-tags {
  order: 3;
  width: 175px;
  margin-top: 13px;
  margin-left: -77px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    @include body-3;
    line-height: 23px;
    margin-top: 22px;
    margin-left: 5px;
    width: 95%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
    margin-left: 2px;
  }
}

.user-profile__interaction-buttons {
  display: flex;
  align-items: center;
  margin-left: -35px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-left: 0;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-left: -4px;
  }
}

.user-profile__like-button {
  width: 30px;
  height: 30px;
  background-image: url("../img/like-btn.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--active {
    background-image: url("../img/like-btn_active.svg");
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 51px;
    background-size: 50px;
  }
}

.user-profile__likes-number {
  @include bold;
  @include text-1;
  color: $dark-blue;
  text-transform: uppercase;
  margin-left: 7px;

  @media (min-width: $tablet-width) {
    @include body-3;
  }
}

.user-profile__desire-list-wrapper {
  margin-top: 14px;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-left: 3px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 58px;
    margin-top: 28px;
  }
}

.user-profile__wish-list-title {
  position: relative;

  &::before {
    content: "";
    width: 15px;
    border: 1px solid $basic-grey;
    position: absolute;
    left: -25px;
    top: 6px;
  }

  &::after {
    content: "";
    width: 141px;
    border: 1px solid $basic-grey;
    position: absolute;
    right: -19px;
    top: 6px;
  }


  @media (min-width: $tablet-width) {
    margin-left: 43px;

    &::before {
      width: 74px;
      left: -82px;
    }

    &::after {
      width: 502px;
      left: 102px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-profile__transport-list-title,
.user-profile__level-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-profile__desire-list {
  margin-top: 21px;
}

.user-profile__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 2;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 35px;
    right: 45px;
    flex-direction: row;
    align-items: center;
  }
}

.user-profile__transport-list-title {
  margin-left: 7px;
  position: relative;

  &::before {
    content: "";
    width: 15px;
    border: 1px solid $basic-grey;
    position: absolute;
    left: -25px;
    top: 6px;
  }

  &::after {
    content: "";
    width: 105px;
    border: 1px solid $basic-grey;
    position: absolute;
    right: -49px;
    top: 6px;
  }
}

.user-profile__transport-list {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.user-profile__level-title {
  position: relative;

  &::before {
    content: "";
    width: 21px;
    border: 1px solid $basic-grey;
    position: absolute;
    right: -19px;
    top: 6px;
  }
}

.user-profile__level-pie {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 46px;
  }
}

.user-profile__choose-button {
  display: block;
  padding: 13px 78px 9px 81px;
  border-radius: 25px;
  position: absolute;
  bottom: 24px;
  left: 19px;

  @media (min-width: $tablet-width) {
    position: static;
    padding: 15px 33px 14px 30px;
  }
}
