.user-card {
  background-color: $basic-white;
  border-radius: 10px;
}

.user-card__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-card__name {
  @include h3;
  text-align: center;
  margin-bottom: 15px;
}

.user-card__tags {
  line-height: 18px;
  text-align: center;
}

.users__cards-item:last-child {
  margin-bottom: 20px;
}
