.users {
  background-color: $text-blue;
  background-image: url("../../img/back.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.users__title {
  padding: 70px 0 0;
  margin: 0 0 19px;
}

.users__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  padding: 0;
  margin: 0 0 25px;

  &--bold {
    font-weight: bold;
  }
}

.users__cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
