.user-profile__image {
  border-radius: 50%;
}

.user-profile__link {
  text-decoration: none;
}

.user-profile__user-name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  margin: 0;
  padding: 0;
}

.user-profile__likes-number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-dark-blue;
}

.user-profile__user-tags {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
}

.user-profile__wish-list-title,
.user-profile__transport-list-title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
}

.user-profile__desire-list {
  padding: 0;
  margin: 0;
}

.user-profile__choose-button {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $text-dark-blue;
  padding: 14px 78px 13px;
  background-color: $button-yellow;
  border-radius: 25px;
}
