.user-profile {
  @include text-2;
}

.user-profile__image {
  border-radius: 50%;
}

.user-profile__user-name {
  @include h3;
  color: $basic-blue-light;
}

.user-profile__likes-number {
  @include text-1;
  color: $dark-blue;
  text-transform: uppercase;
}

.user-profile__choose-button {
  padding: 14px 78px 13px 78px;
  border-radius: 25px;
}
