.users {
  background-color: $text-blue;
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-position: center 40px;
  padding-top: 92px;
  padding-bottom: 31px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 198px;
    padding-bottom: 88px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.users__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.users__text-wrapper {
  padding-left: 25px;
  padding-right: 29px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -10px;
    margin-bottom: 0;
    padding-left: 70px;
  }
}

.users__title {
  @include h2;
  color: $special-orange;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.users__text {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 427px;
    line-height: 34px;
    margin-bottom: 41px;

    &--small {
      @include body-2;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      margin-bottom: 0;
    }
  }
}

.users__text-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.users__cards-list {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 35px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -62px;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.users__cards-item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.users__button {
  position: relative;
  display: block;
  text-transform: none;
  padding: 22px;

  &::after {
    content: "";
    position: absolute;
    border: 6px solid transparent;
    border-left: 10px solid $basic-blue-light;
    top: 43%;
    right: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 38px;
    margin-left: 35px;
    padding: 27px 27px 28px 30px;

    &::after {
      right: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 306px;
    margin-left: 71px;
    max-height: 25px;
    padding-left: 32px;
  }
}
