.container {
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    width: 688px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    padding: 0 60px;
  }
}
