@mixin h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }
}

@mixin h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;

    &--small {
      font-size: 36px;
      line-height: 36px;
    }
  }
}

@mixin h2-size-s {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

@mixin h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin h3-size-s {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

@mixin body-1 {
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    line-height: 32px;
  }
}

@mixin body-2 {
  font-size: 21px;
  line-height: 25px;
}

@mixin body-3 {
  font-size: 20px;
  line-height: 23px;
}

@mixin subtitle {
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin text-1 {
  font-size: 14px;
  line-height: 14px;
}

@mixin text-2 {
  font-size: 15px;
  line-height: 15px;
}

@mixin button {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

@mixin button-2 {
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin button-3 {
  font-size: 20px;
  line-height: 18px;
}

@mixin companion-form-title {
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;
}
