@mixin text-light {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

@mixin text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

@mixin text-medium {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

@mixin text-bold {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

@mixin text-meduim-15-size {
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

@mixin text-small-medium {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

@mixin text-small-bold {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

@mixin text-large-medium {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

@mixin text-large-bold {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
}

@mixin h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}

@mixin h2-blue {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
}

@mixin h2-orange {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;
}

@mixin h2-small-blue {
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  color: $basic-blue-light;
}

@mixin h3-blue {
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
}

@mixin form-title {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-light;
}

@mixin button-text {
  font-weight: bold;
  font-style: normal;
  font-size: 17px;
  text-transform: uppercase;
}
