@mixin h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

@mixin h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

@mixin h2-size-s {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

@mixin h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

@mixin h3-size-s {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

@mixin body-1 {
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
}

@mixin subtitle {
  font-size: 18px;
  line-height: 18px;
}
