$basic-white: #ffffff;
$dark-blue: #161c35;
$header-blue: #182044;
$text-blue: #192144;
$light-blue: #132576;
$button-yellow: #ffd74b;
$button-blue: #dfe3f0;
$special-orange: #ff8d30;
$usage-steps-orange: #ffa530;
$usage-steps-yellow-dark: #ffbd30;
$basic-grey: #edeff6;
$light-grey: #f3f4f8;
$special-grey: #444444;
$grey-blue: #e6e8f1;
$black: #000000;
$basic-blue-light: #1d2e5b;
$filter-blue: #e2e5f2;
$filter-button-blue: #d6daed;
$border-grey: #cbced9;
$plans-background: #dfe3f0;
$add-plan-background: #d4d9eb;
$calendar-table-grey: #d6d9e6;
$red: #ff5c23;
