$basic-white: #FFFFFF;
$dark-blue: #161C35;
$header-blue: #182044;
$text-blue: #192144;
$light-blue: #132576;
$text-dark-blue: #161C35;
$button-yellow: #FFD74B;
$button-blue: #DFE3F0;
$special-orange: #FF8D30;
$usage-steps-orange: #FFA530;
$usage-steps-yellow-dark: #FFBD30;
$basic-grey: #EDEFF6;
$dark-grey: #161C35;
$light-grey: #F3F4F8;
$special-grey: #444444;
$grey-blue: #E6E8F1;
$black: #000000;
$basic-blue-light: #1D2E5B;
$filter-blue: #E2E5F2;
$filter-button-blue: #D6DAED;
$border-grey: #CBCED9;
$plans-background: #DFE3F0;
$add-plan-background: #D4D9EB;
$calendar-table-grey: #D6D9E6;
$red: #FF5C23;
